body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

div, p, input, button, form. span, a, ul, li{
	box-sizing: border-box;
}

p{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	background: rgba(77,188,252,1);
	background: -moz-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,188,252,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(77,188,252,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbcfc', endColorstr='#3790d9', GradientType=1 );
	padding-top: 62px;
	padding-bottom: 45px;
	color:#fff;
}

.offer{
	width: 965px;
}

.wrapper{
	display: flex;
	align-items: center;
}

.title span{
	font-size: 56px;
}

.title{
	font-family: 'Ubuntu', sans-serif;
	font-size: 37px;
}

.intro{
	font-size: 16px;
	margin-bottom: 47px;
	margin-top: 40px;
	width: 400px;
}

.btn{
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 15px;
	background: #ffd429;
	text-decoration: none;
	padding: 20px 0px;
	display: block;
	width: 222px;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover{
	background: #f0c726;
}

.vpered{
	padding-top: 105px;
	padding-bottom: 115px;
}

.section-title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 70px;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.icons-flex{
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.title-icons{
	font-size: 15px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	width: 289px;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	font-weight: bold;
}

.ic-title{
	margin-top: 27px;
	margin-bottom: 14px;
}

.flex-title-icons{
	justify-content: center;
	display: flex;
}
.ticket{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #ecf3f8;
}

.ticket-title{
	text-align: center;
	margin-bottom: 60px;
}

.input{
	width: 343px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 2px;
	height: 46px;
	padding-left: 24px;
	margin-bottom: 15px;
}

button{
	border:0;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 15px;
	background: #ffd429;
	text-decoration: none;
	height: 46px;
	width: 370px;
	text-align: center;
	cursor: pointer;
}

.form-1{
	display: flex;
	justify-content: center;
}

.form{
	display: flex;
	flex-direction: column;
}

.credits{
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.footer{
	background: #164d7a;
	padding-bottom: 53px;
	padding-top: 60px;
}

.red{
	color: red;
	transition: 0.5s;
}
/*992-1200*/
@media screen and (max-width: 1200px){
	.container{
		width: 960px;
	}
}
/*768-992*/
@media screen and (max-width: 992px){
	.container{
		width: 720px;
	}
	.wrapper{
		flex-direction: column;
	}
	.offer{
		width: 100%;
	}
	.intro{
		width: 100%;
	}
	.icons-flex{
		flex-direction: column;
	}
	.icons{
		margin-bottom: 15px;
		width: auto;
	}
		.desktop{
		width: 500px;
		padding-left: 20px;
	}

}
/*576-768*/
@media screen and (max-width: 768px){
	.container{
		width: 540px;
	}
		.desktop{
		width: 450px;
		padding-left: 20px;
	}
}
/*320-576*/
@media screen and (max-width: 576px){
	.container{
		width: 90%;
	}
	.input{
		width: 94%;
		padding-left: 15px;
	}
	.form-flex{
		width: 300px;
	}
	button{
		width: 300px;
	}
	.desktop{
		width: 240px;
		padding-left: 20px;
	}
}